.account-settings-button {
  background: #fff;
  border: 3px solid #e2dddc;
  border-radius: 20px;
  float: right;
  font-weight: bold;
  height: 40px;
  margin-right: 50px;
  margin-top: 30px;
  width: 100px;
}
