.to-read {
  border: 1px solid black;
  clear: both;
  float: left;
  height: 500px;
  margin-left: 50px;
  margin-top: 38px;
  width: 400px;
}

.remove-book-btn {
  border: 1px solid black;
  margin: 0 auto;
  width: 50%;
}
