.write-review-button {
  background: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
  clear: both;
  color: #0067a9;
  float: left;
  font-weight: bold;
  height: 40px;
  margin-left: 80px;
  margin-top: 10px;
  padding-top: 20px;
  width: 150px;
}
