.sign-in,
.sign-up {
  border: 1px solid black;
  clear: both;
  float: left;
  height: 50px;
  margin-left: 50px;
  margin-top: 50px;
  width: 300px;
}

.sign-up input,
        button {
  clear: both;
  float: left;
}

.failed {
  height: 100px;
  width: 300px;
}

.failed h1 {
  color: red;
}
