.toggle-remove-readd {
  background: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
  clear: both;
  color: #0067a9;
  float: left;
  font-weight: bold;
  height: 55px;
  margin-left: 80px;
  margin-top: 25px;
  width: 150px;
}
